<!doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- css는 link tag를 써서 연결! Bootstrap CSS 아래 경로에 bootstrap에서 쓰는 코드를 넣어놓고, 웹상에서 만들어놓은 stylesheet을 불러온것 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <link rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

        <title>원페이지쇼핑몰_최슬아</title>

        <script type="text/javascript">
            function isCellPhone(p) {
                let regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/; //??
                return regExp.test(p);
            }

            function order() {
                let name = $("#name-box").val();
                let count = $("#inputGroupSelect01").val();
                let address = $("#address-box").val();
                let phone = $("#phone-box").val();

                if (name == "") {
                    alert("이름을 입력해주세요");
                    $('#name-box').focus();
                    return;
                } else if (count == "-수량을 선택하세요-") {
                    alert("수량을 입력해주세요");
                    $('#inputGroupSelect01').focus();
                    return;
                } else if (address == "") {
                    alert("주소를 입력해주세요");
                    $('#address-box').focus();
                    return;
                } else if (phone == "") {
                    alert("번호를 입력해주세요");
                    $('#phone-box').focus();
                    return;
                } else if (!isCellPhone(phone)) {
                    alert("010-0000-0000으로 입력해주세요");
                    $('#phone-box').focus();
                    return;
                }

                // 주문하기 API를 사용해 여기를 채워주세요
                $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {'name_give': name, 'count_give': count, 'address_give': address, 'phone_give': phone},
                    success: function (response) {
                        if (response['result'] == 'success') { //왜 response["result"]인지?
                            alert("주문완료")
                            window.location.reload();
                        }

                    }
                })
            }

            $(document).ready(function () {
                $("#orders-box").html("");
                showOrders();
            });

            function showOrders() {
                // 주문 목록보기 API 를 사용해 여기를 채워주세요
                $.ajax({
                    type: "GET",
                    url: "/order",
                    success: function (response) {
                        if (response['result'] == 'success') {

                            let orderList = response['orders'] //db에 저장된 리스트 소환
                            for (let i = 0; i < orderList.length; i++) { //db리스트 안에서 for문 돌기
                                makeOrderRow(orderList[i]['name'], orderList[i]['count'], orderList[i]['address'], orderList[i]['phone'])
                            }
                        }
                    }
                })
            }

            function makeOrderRow(name, count, address, phone) {
                let tempHtml = `<tr>\
                                <td>${name}</td>
                                <td>${count}</td>
                                <td>${address}</td>
                                <td>${phone}</td>
                              </tr>`;

                $("#orders-box").append(tempHtml);
            }
        </script>

        <style>
            * {
                font-family: 'Do Hyeon', sans-serif;
            }

            .product {
                width: 5;
                margin: 40px 900px;
            }

            span {
                font-size: medium
            }

            .order {
                margin-top: 20px;
            }

            .button {
                margin: 40px 250px;
                width: 50%;
                display: block;
            }

            .card {
                box-sizing: content-box;
                margin-bottom: 20px;
            }

            .product {
                width: 400px;
                margin: 40px 90px;
            }

            .btn-primary {
                padding: auto;
                width: 100px;
                display: flex;
        </style>
    </head>

    <body>
        <div class="product">
            <div class="card">
                <img class="card-img-top"
                     src="https://img.appstory.co.kr/@files/monthly.appstory.co.kr/thum/Bdatafile/Board/dir_114/11437.jpg"
                     alt="Card image cap">
            </div>
            <h1>노트북을 팝니다 <span>가격: 300,000원/개</span></h1>
            <h4>이 노트북은 사실 특별한 힘을 가지고 있어요. 노트북을 켜고 소원을 빌면 짜자잔 뭐든지 이루어지게 된답니다. 하나 사가세요! </h4>
            <div class="order">
                <h1>주문하기</h1>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">주문자 이름</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label=""
                           aria-describedby="basic-addon1" id="name-box">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">수량</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>-수량을 선택하세요-</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">주소</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label=""
                           aria-describedby="basic-addon1" id="address-box">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">전화번호</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label=""
                           aria-describedby="basic-addon1" id="phone-box">
                </div>
                <div class="button">
                    <a onclick="order()" class="btn btn-primary btn-lg" href="#" role="button">주문하기</a>
                </div>
                <div class="orders">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">수량</th>
                        <th scope="col">주소</th>
                        <th scope="col">전화번호</th>
                    </tr>
                    </thead>
                    <tbody id="orders-box">
                    <tr>
                        <td>박르탄</td>
                        <td>3</td>
                        <td>스파르타국 코딩시 프론트구</td>
                        <td>010-1234-5678</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            </div>
        </div>
        </div>

    </body>